@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    font-family: 'Poppins', sans-serif;
}

:root {
    --color1: #1a1e21;
    --text-color: #172317;
    --second-color: #ff7878;
}

::selection {
    color: #fff;
    background: var(--second-color);
}

.hamburguer {
    display: none; /*para ele não aparecer na tela*/
    cursor: pointer; /*para o mouse aparecer quando passar por cima dele*/
}

.bar {
    display: block; /*para os elementos ficarem um embaixo do outro*/
    width: 28px; /*largura*/
    height: 3px; /*altura*/
    border-radius: 2px; /*arredondar a borda*/
    margin: 5px auto; /*espaço*/
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}

.bar {
    filter:brightness(70%);
}


.logotipo {
    position: relative;
    max-width: 80px;
}

a {
    text-decoration: none;
    list-style: none;
}

li {
    list-style: none;
}

img {
    width: 100%;
}

section {
    padding: 3rem 0 2rem;
}

header {
    top: 0;
    left: 0;
    z-index: 200;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    max-width: 1068px;
    margin: auto;
    width: 100%;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}

.beautylogo {
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
}

.beautylogo span {
    color: var(--second-color);
}

.homee {
    font-size: 1.2rem;
    font-weight: 300;
    color: #fff;
}

.skincare {
    font-size: 1.2rem;
    font-weight: 300;
    color: #fff;
}

.maquiagem {
    font-size: 1.2rem;
    font-weight: 300;
    color: #fff;
}

.perfumaria {
    font-size: 1.2rem;
    font-weight: 300;
    color: #fff;
}

.login {
    padding: 8px 14px;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 4px;
    background-color: var(--second-color);
    color:var(--text-color);
}

.login:hover {
    background: var(--bg-color);
    color: var(--second-color);
    transition: 0.3s;
}

.home {
    width: 100%;
    min-height: 1000px;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
    url(img/fundo-home.jpg);
    display: grid;
    justify-content: center;
    align-items: center;
}

.home-text {
    color: #fff;
    text-align: center;
}

.home-title {
    font-size: 3.5rem;
}

.home-subtitle {
    font-size: 1.6rem;
    font-weight: 400;
}

.post-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1.5rem;
    margin-top: 2rem ;
}

.filter-item {
    font-size: 1.1rem;
    font-weight: 500;
    cursor: pointer;
}

.active-filter {
    background: var(--second-color);
    color: #fff;
    padding: 4px 10px;
    border-radius: 4px;
}

.post {
    max-width: 1300px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 70px;
}

.post-box {
    background: #fff;
    box-shadow: 0 4px 14px hsl(355deg 25% 15% / 10%);
    padding: 15px;
    border-radius: 0.5rem;
}

.post-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
    border-radius: 0.5rem;
}

.categoria {
    font-size: 0.9rem;
    font-weight: 500;
    text-transform: uppercase;
    color:var(--second-color);
}

.post-title {
    font-size: 1.3rem;
    font-weight: 600;
    color: #f72323;
    /*deixar o titulo em duas linhas*/
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.post-date {
    display: flex;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 4px;
}

.post-descricao {
    font-size: 0.9rem;
    line-height: 1.5rem;
    margin: 5px 0 10px;
    /*deixar o texto em tres linhas*/
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.perfil {
    display: flex;
    align-items: center;
    gap: 10px;
}

.perfil-img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    border: 2px solid var(--second-color);
}

header.shadow {
    background: #fff;
    transition: 0.7s;
    box-shadow: 0 1px 4px hsl(0 4% 14% / 10%);
}

header.shadow .login {
    color: #fff;
}

header.shadow .login:hover {
    color: #ff7878;
}

header.shadow .beautylogo {
    color: #fff;
}

header.shadow .homee {
    color: #fff;
}

header.shadow .skincare {
    color: #fff;
}

header.shadow .maquiagem {
    color: #fff;
}

header.shadow .perfumaria {
    color: #fff;
}

.perfil-nome {
    font-size: 0.90rem;
    font-weight: 500;
}

ul {
    list-style-type: none;
    padding: 0;
}
  
ul li {
    margin-bottom: 5px;
    color: rgb(17, 15, 15);
}
  
ul li a {
    text-decoration: none;
    font-weight: bold;
}

ul li a:hover {
    text-decoration: underline;
}

a {
    color: rgb(17, 15, 15);
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

footer{
    background: url(img/footer.jpg);
    padding: 10px;
    text-align: center;
    padding: 20px 0;
    color: rgb(17, 15, 15);
    font-size: 16px;
    list-style: none;
}

.row {
    display: flex;
    flex-wrap: wrap; 
}

.col {
    flex: 1 0 25%;
    margin-bottom: 20px;
}

.header {
    width:100%;
    height: 500;
    background:#1a1e21;
}

.post-container {
    max-width: 800px;
    width: 100%;
    margin: auto;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
}

.voltar {
    color:var(--second-color);
    font-size: 0.9rem;
}

.titulo-header {
    width: 90%;
    font-size: 2.6rem;
    color:#fff;
    text-align: center;
    margin-bottom: 1rem;
}

.header-img {
    width: 100%;
    height: 420px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

@media (max-width:900px) {

    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction:column;
        row-gap: 1rem;
        padding: 20px 0;
        text-align: center;
    }

    .search-container {
        opacity: 0;
        position: absolute;
    }

    .post-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction:column;
        row-gap: 1rem;
        padding: 20px 20px;
        text-align: center;
        margin-bottom: 100px;
    }

    header {
        padding: 20px; /*espaço entre o elemento e a borda*/
    }

    header .logo {
        max-width: 60px; /*tamanho maximo que ocupa*/
    }

    header .container { 
        position: absolute;
        left: -200%;
        top: 70px;
        gap: 0;
        border-radius: 0 0 20px 20px;
        background: #fff;
        text-align: center; /*centralizar*/
        flex-direction: column; /*deixar em coluna*/
        width: 100%; /*para pegar 100% da tela*/
        transition: 0.3s; /*transição*/
    }

    header .container a {
        margin: 16px 0;
    }

    .container.active {
        left: 0;
        background: #fff;
        z-index: 10;
        position: fixed;
        width: 100%;
        height: 100%;
    }

    .hamburguer {
        display: block;
    }

    .hamburguer.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburguer.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburguer.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .filter-item {
        width: 65px;
        word-wrap: break-word;
        font-size: 14px;
        font-weight: 700;
    }

    .dark-mode-toggle {
        position: fixed;
        top: 8px;
        right: 10px;
    }

    .post-descricao {
        font-size: 1.1rem;
    }

    .post {
        max-width: 1300px;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}

.logotipo {
    filter: brightness(70%);
}

.homee {
    filter: brightness(70%);
    padding: 20px;
}

.skincare {
    filter: brightness(70%);
    padding: 20px;
}

.maquiagem {
    filter: brightness(70%);
    padding: 20px;
}

.perfumaria {
    filter:brightness(70%);
    padding: 20px;
}

.beautylogo {
    filter:brightness(70%);
}

/*MODO ESCURO*/

/* Modo Claro */
body {
    background-color: #fff;
    color: #333333;
}

/* Modo Escuro */
body.dark-mode {
    background-color: #333333;
}

a.dark-mode.active {
    color: #fff;
}

/* Botão de alternância */
.dark-mode-toggle {
    position: fixed;
    top: 55px;
    right: 40px;
    z-index: 999;
    transition: transform 0.3s;
}

.dark-mode-toggle.active {
    transform: translateX(-60px);
}

#dark-mode-button {
    padding: 10px;
    background-color: #333333;
    color: #ffffff;
    border: none;
    border-radius: 70%;
    cursor: pointer;
    outline: none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilo do texto do botão de alternância */
.toggle-text {
    display: none;
}

.dark-mode-toggle.active .toggle-text {
    display: inline;
}

/* Estilo do ícone */
.toggle-icon {
    font-size: 24px; /* Tamanho do ícone */
    margin-right: 5px; /* Espaçamento entre o ícone e o texto */
}

/* Estilo do ícone */
.toggle-icon {
    font-size: 24px; /* Tamanho do ícone */
    margin-right: 5px; /* Espaçamento entre o ícone e o texto */
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 200;
}

.menu {
    position: relative;
    display: flex;
}

.dark-mode .filter-item{
    color: #fff;
}

.dark-mode .col li a {
    color: #fff;
}

.dark-mode footer {
    color: #fff;
}

.dark-mode .post-box {
    background: #333333;
    box-shadow: 0 4px 14px hsla(0, 0%, 3%, 0.9);
}

.dark-mode .post-title {
    color: #fff;
}

.dark-mode .post-date {
    color: #fff;
}

.dark-mode .post-descricao {
    color: #fff;
}

@media(max-width:920px) {

    .dark-mode-toggle {
        position: fixed;
        top: 45px;
        right: 20px;
        z-index: 999;
        transition: transform 0.3s;
    }

    .homee {
        filter: brightness(70%);
        padding: 10px;
        opacity: 0;
        position:absolute;
    }
    
    .skincare {
        filter: brightness(70%);
        padding: 10px;
    }
    
    .maquiagem {
        filter: brightness(70%);
        padding: 10px;
    }
    
    .perfumaria {
        filter:brightness(70%);
        padding: 10px;
    }
}

@media (max-width:1000px) {
    .homee {
        opacity: 0;
        position: absolute;
    }
}

@media (max-width: 900px) {
    .dark-mode-toggle {
        position: fixed;
        top: 12px;
        right: 20px;
        z-index: 999;
        transition: transform 0.3s;
    }
}